/JAVA/PROYECTOS/ENTRADAS-PROCESOS-SALIDAS/EntradasProcesosSalidas/nbproject/private/
/JAVA/PROYECTOS/ENTRADAS-PROCESOS-SALIDAS/EntradasProcesosSalidas/build/
/JAVA/PROYECTOS/CLASES/FundacionDog/nbproject/private/
/JAVA/PROYECTOS/CLASES/FundacionDog/build/
/JAVA/PROYECTOS/CLASES/Condicionales/nbproject/private/
/JAVA/PROYECTOS/CLASES/Condicionales/build/
/JAVA/PROYECTOS/CICLOS/JavaApplication52/nbproject/private/
/JAVA/PROYECTOS/CICLOS/CicloPara/nbproject/private/
/JAVA/PROYECTOS/CICLOS/CicloPara/build/
/JAVA/PROYECTOS/PROYECTO-CELULAR/ProyectoCelular/nbproject/private/
/JAVA/PROYECTOS/PROYECTO-CELULAR/ProyectoCelular/build/
/JAVA/PROYECTOS/CRUD-FIGURAS/CrudFiguras/nbproject/private/
/JAVA/PROYECTOS/CRUD-FIGURAS/CrudFiguras/build/