/JAVA/PROYECTOS/ENTRADAS-PROCESOS-SALIDAS/EntradasProcesosSalidas/nbproject/private/
/JAVA/PROYECTOS/ENTRADAS-PROCESOS-SALIDAS/EntradasProcesosSalidas/build/
/JAVA/PROYECTOS/CLASES/FundacionDog/nbproject/private/
/JAVA/PROYECTOS/CLASES/FundacionDog/build/
/JAVA/PROYECTOS/CLASES/Condicionales/nbproject/private/
/JAVA/PROYECTOS/CLASES/Condicionales/build/
/JAVA/PROYECTOS/CICLOS/JavaApplication52/nbproject/private/
/JAVA/PROYECTOS/CICLOS/CicloPara/nbproject/private/
/JAVA/PROYECTOS/CICLOS/CicloPara/build/