@page
@model Notas.App.Presentacion.Pages.Asignaturas.DetallarModel
@{
    ViewData["Title"] = "Datos Asignatura";
}
<div class="card">
    <div class="card-header">
        <h2 class="text-info">Datos Asignatura</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-primary">
                <div class="container" style="padding: 30px">
                    <!-- se envía campo de la PK oculto -->
                    <input type="hidden"  asp-for="asignatura.id" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="asignatura.id"  class="text-primary"></label>
                            </div>
                            <div class="col-sm-3">
                                @Model.asignatura.id;
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="asignatura.nombre"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-6">
                                @Model.asignatura.nombre
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="asignatura.intensidad"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-6">
                                @Model.asignatura.intensidad
                            </div>
                            <span asp-validation-for="asignatura.intensidad" class="text-danger"></span>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <a asp-page="Listar" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

